*{
    margin: 0;
    padding: 0;
}
.navbarbg{
    background-color: #f35f0f;
    
}
.navbarbg ul li {
    font-size: 22px;
    font-weight: 600;
    
}
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
}


.footer-bg{
    background-image: linear-gradient(to right ,rgb(250, 71, 71), #D45E1E );
    color: white;
}
.footer-bg ul li {
 text-decoration: none ;
 list-style-type: none;
 color: white !important;
 
}
.carousel-inner img{
    height: 500px;
}
